<h1>Mike Murphy's Library</h1>

<h2>Enter the last name of an author (lowercase)</h2>
<h2>    I might have your book!     </h2>

<form method="POST" action="/search">
	<input type="text" name="userinput" placeholder="Search" required maxlength="100">
	<button>Find</button>
</form>

